@media screen and (max-width: 500px) {
 
  header {
    flex-direction: column;
  }

  main {
    flex-direction: column;
  }

  h2 {
    font-size: 38px;
  }

  form {
   
    width: 80%; 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input {
   
    align-self: center;
  }

  img {
    margin-top: 40px;
  }

  ul {
    text-align: center;
    padding: 0; 
  }
}